<html>
  <head>
    <title>STEAM GPT</title>
  </head>
  <body>
      <h1 class="title">STEAM GPT</h1>
      <div>
        <p>Chào mừng bạn đến với Bot thông minh nhất hệ mặt trời</p>
      </div>
      <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          Lỗi: 
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
      </p>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input
          type="text"
          name="question"
          placeholder="Nhập câu hỏi bạn muốn hỏi"
          required
        />
        <input type="file" name="file" autocomplete="off" required>
        <input type="submit" value="Gửi" />
      </form>
  </body>
</html>