<html>
  <head>
    <title>Đăng ký</title>
  </head>
  <body>
      <h1 class="title">Đăng ký tham gia</h1>
      <div>
        <p>Hạn đăng ký: 02/07/2023</p>
      </div>

      <form action="/" method="POST">
        <input
          type="text"
          name="hoten"
          placeholder="Nhập tên của bạn"
        />
        <input
          type="text"
          name="truong"
          placeholder="Nhập trường học"
        />
        <input type="submit" value="Gửi" />
      </form>
  </body>
</html>
